# Beginner Challenges (Easy)

1. basic info
    - Show the number of rows and columns
    - Get the column names
    - Display the data types of each column
2. fist and last records
    - Show the first 10 rows
    - Show the last 5 rows
3. Statistics summary
    - Display summary statistics `(describe())` for numerical columns
    - Show the average age of passengers
4. Count missing values
    - Count how many missing (`NaN`) values are in each column

## 1. Basic info

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

tic = sns.load_dataset("titanic")

tic.shape

(891, 15)

In [3]:
tic.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [2]:
tic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

# |Easy|